* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #B8CEC2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #D1DBCD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #EBC8B4;
    font-size: 20px;
    color: #1c4848;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.1),
      4px 4px 10px rgba(0, 0, 0, 0.2);
}

.calculator form input:active {
    transform: translateY(4px);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
      2px 2px 5px rgba(0, 0, 0, 0.3);
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: #F8E6CE;
    color: #000000;
    border-radius: 10px;
    padding: 10px;
}

form input.equal {
    width: 145px;
    background: #FDB3A4;
    color: #244747;
    font-weight: bold;
}

form input.equal:active {
    transform: translateY(4px);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
      2px 2px 5px rgba(0, 0, 0, 0.3);
}

form input.operator {
    color: #244747;
    background: #FDB3A4;
}

form input.operator:active {
    transform: translateY(4px);
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 0.05),
      2px 2px 5px rgba(0, 0, 0, 0.3);
}
